<settings>
<category label="General">
	<setting id="Username" type="text" label="Username"/>
	<setting id="Password" type="text" option="hidden" label="Password"/>
	<setting id="PVRUpdater" type="bool" label="Update PVR on Startup" default="false"/>
	<setting type="bool" default="false" id="notifications-on-startup" label="Unsubscribe from News" />
	<setting label="Manual Catchup Duration in Minutes" type="select" id="FinalDuration" values="Off|30|60|90|120|150|180|210|240|270|300|330|360" default="Off"/>
	<setting id="EPGColour" type="select" label="EPG Font Colour" default="gold" values="gold|white|lightgray|gray|dimgray|ivory|powderblue|lightskyblue|blue|fuchsia|deeppink|lime|green|yellow|pink|magenta|purple|red" />
	
	<setting id="email" type="text" visible="false" label="Destination Email Address"/>
	<setting id="include_old" type="bool" visible="false" label="Include Old Kodi Log" default="true"/>
	<setting id="addon_debug" type="bool" label="Addon Debug" visible="false" default="false"/>
	<setting id="email_prompt" type="bool" visible="false" default="false"/>
	<setting id="enable_tvaddons" type="bool" visible="false" label="Enable TVAddons.ag" default="false"/>
	<setting id="enable_dropbox" type="bool" visible="false" label="Enable Dropbox" default="false"/>
	<setting id="enable_pastebin" type="bool" visible="false" label="Enable Pastebin" default="true"/>
	<setting id="enable_ubuntu" type="bool" visible="false" label="Enable Ubuntu" default="true"/>
</category>
</settings>